<div class="row" id = "slim">
            <div class="large-12 columns">
              <div id="slider">

                <ul class="orbit" data-orbit>
                 <li>
                   <div id="chart-div"></div>
                 </li>
                 <li class="active">
                   <div id="bubble-div"</div>
                 </li>
                 <li>
                   <%=image_tag("sample.png" )%>
                   <img height = "10">
                 </li>
                </ul>

              </div>
              <hr/>
            </div>
          </div>
