<div class = 'admin-placehold'>
  <h4>Recent Reports<h4>
  <ul >
    <%@latest.each do |event|%>
      <li class= "show-event">
        <%= link_to  "#{event.id}'. '#{event.date} : #{event.details[0..10]}",   show_event_partial_path(event.id), :remote => true%>
      </li>
      <br>
    <%end%>
  </ul>
</div>
