<div class = 'admin-placehold2'>
  <div class = "admin-search">
    <%= form_tag search_path, :class => "search-form", :method => 'get', remote:true do %>
      <p>
        <%= text_area_tag :search, params[:search] %>
        <%= submit_tag "Search Reports",:id => "search", :name => nil %>
      </p>
    <% end %>
  </div>
    <div class="report">
      <a href="#" class="button [tiny small large]" id="button-close">Close Search</a>
        <ul class="search-results"></ul>
    </div>
    <div class="show-event-details">
    </div>
</div>
