  <div class="navbar">
    <ul>
      <li>Home</li>
      <li>Incident Report</li>
      <li>Login</li>
      <li>Logout</li>
      <li>Local Resources</li>
    </ul>
  </div>

<div class="new_event_container">

  <%= render partial: "events/new", locals: { event: @event } %>

  </div>

