  <div class="about-shielded">

    <h5>Submission Received<h5>

  </div>

<div class = "acknowledgement-container">

  <h4 class = "call911">In the event this is an emergency, please contact 911 immediately</h4>

  <p>We greatly appreciate your willingness to provide us with information that helps our school to maintain a safe learning environment.  Depending on the specificity of your submission, we may use the information to take direct action in preventing violent or abusive behavior from taking place.  Specifics of your submission will also be used in identifying behavorial trends within our school district. </p>

  <p>At no time will the specifics of your submission be made available to the public, or be viewed by anyone other than designated school district administrators and/or local law enforcement (if necessary)</p>

  <div class = "resources-list">
    <h4>Local Resources</h4>
    <p>School Principal: 555-555-5555</p>
    <p>School Counselor: 555-555-5555</p>
    <p>Police Station: 555-555-5555</p>
    <p>Suicide HelpLine: 555-555-5555</p>
  </div>

</div>



