<h1>Thank you!</h1>
<h2>Your submission has been received by our school</h2>

<h4 class = "call911">In the event that this is an emergency, please contact 911 immediately</h4>

<h3>We greatly appreciate your willingness to provide us with information that helps us maintain a safe learning environment</h3>

<h3>Local Resources</h3>

<p>School Principal: 555-555-5555</p>
<p>School Counselor: 555-555-5555</p>
<p>Police Station: 555-555-5555</p>
<p>Suicide HelpLine: 555-555-5555</p>


