<div class="event_index">
  <h1>Event Page</h1>

  <p><%= @event.details %></p>

  <div class="event_tags_container" id="<%= @event.id %>" >
    <%= render 'event_tags/this_event_tags', locals: @event %>
  </div>

  <div class="available_tags_container">
    <%= render 'tags/show', locals: @event %>
  </div>
</div>
