<h3 class = "available-tags-title">Available Tags</h3>

<div class = "tag-container">
<ul class="all_tags inline-list">
  <% @tags.each do |tag| %>
  <% unless @event.tags.include? tag %>
    <li class="tag" id="<%= tag.id %>" >
      <%= tag.tag_name %>
    </li>
    <% end %>
  <% end %>
</ul>
</div>
