<h4>Available Tags</h4>

<ul class="all_tags inline-list">
  <% @tags.each do |tag| %>
  <% unless @event.tags.include? tag %>
    <li class="tag" id="<%= tag.id %>" >
      <%= tag.tag_name %>
    </li>
    <% end %>
  <% end %>
</ul>

<button>Confirm New Tags</button>
<a href="<%=admin_dashboard_url%>" class="right_align">
<button>Back to Admin Dashboard</button>
</a>
