.container {
  width: 90%;
  margin: 0 auto;
}

 .admin-header {
  background-color: white;
  padding-top: 5%;
  height: 20vh;
  text-align: center;
  width: 100%;
  line-height: 50px;
  margin-bottom: 5%;
 }

 .logo-holder {

 }

 .admin-title {

 }

.admin-footer {
  margin-top: 5%;
  color: rgb(41, 163, 255);
  text-align: center;
}

.admin-footer p {
  color: black;
}

li {
  margin-right: 5%;
  display: inline-block;
}

a {
  text-decoration: none;
}

.admin-placeholder {
  width: 80%;
  text-align: center;
  margin-top: 3%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
}

.admin-navbar {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-top: 2px solid #393939;
  border-bottom: 2px solid #393939;
  background-color: rgb(247, 121, 14);
  /*background-color: rgb(251, 176, 59);*/
  opacity: .9;
  color: black;
}

.admin-home-navbar-links {
  margin: 0 auto;
  line-height: 50px
}

.admin-home-navbar-links a:visited {
  color: white;
}

.admin-home-navbar-links a {
  color: white;
}

.admin-introduction {
  text-align: center;
  color: #393939;
}

.admin-footer {
  margin-top: 10%;
}

.admin-placehold {
  text-align: center;
}
.admin-placehold2 {
  text-align: center;
}

.admin-search {
  margin-top: 10%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.orbit {
  width: 90%;
}

.admin-login-button {
  background-color: rgb(247, 121, 14);
  width: 15%;
  height: 5%;
}

#myModal {
  width: 40%;
  text-align: center;
}



























****************************************************************
/*.admin-header {
  background-color: blue;
  float: left;
  width: 100%;
}

.title {
  float: left;
}

.admin-header h1 {
}

#logo {
  border: 1px solid red;
  float: left;
}

.admin-container {
  background-color: #3A3A3B;
  background-color: gray;
  border: 1px solid black;
}

.admin-container h1 {
  color: black;
}

.admin-placehold {
  height: 400px;
  border-style: solid;
  border-color: Black;
  border-radius: 5px;
  background-color: #CFCFCF;
  padding-left: 20px;
  padding-top: 30px;
  border: 3px solid red;
}

.admin-placehold li{
  list-style: none;
}

.admin-placehold2 {
  height: 400px;
  border-style: solid;
  border-color: Black;
  border-radius: 5px;
  background-color: #CFCFCF;
  border: 3px solid blue;
}

.admin-search {
  height: 40%;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  border: 3px solid green;
}

.report {
  height: 100%;
  background-color: White;
  overflow: scroll;
  padding-left: 30px;
}

.report div {
  width: 60%;
  border-style: solid;
  border-color: #8fb2b2;
  background-color: #cfe1e1;
  border-radius: 5px;
  padding-left: 5%;
  margin-left: 10%
}

.report div li {
  list-style: none;
}

.event_index {
  background-color: rgba(200,200,200,0.5);
  margin: 50px 50px;
  padding: 15px;
}

.right_align {
  float: right;
}

.selected_tag {
  background-color: #9d66ef;
  border-radius: 5px;
}

#button-close {
  margin-top: 15px;
}*/


