.admin-container {
  background-color: #3A3A3B;
}

.admin-container h1 {
  color: white;
}

.admin-placehold {
  height: 400px;
  border-style: solid;
  border-color: Black;
  border-radius: 5px;
  background-color: #CFCFCF;
  padding-left: 20px;
  padding-top: 30px;
}

.admin-placehold li{
  list-style: none;
}

.admin-placehold2 {
  height: 400px;
  border-style: solid;
  border-color: Black;
  border-radius: 5px;
  background-color: #CFCFCF;
}

.admin-search {
  height: 40%;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

.report {
  height: 100%;
  background-color: White;
  overflow: scroll;
  padding-left: 30px;
}

.report div {
  width: 60%;
  border-style: solid;
  border-color: #8fb2b2;
  background-color: #cfe1e1;
  border-radius: 5px;
  padding-left: 5%;
  margin-left: 10%
}

.report div li {
  list-style: none;
}

.event_index {
  background-color: rgba(200,200,200,0.5);
  margin: 50px 50px;
  padding: 15px;
}

.right_align {
  float: right;
}

.selected_tag {
  background-color: #9d66ef;
  border-radius: 5px;
}

#button-close {
  margin-top: 15px;
}
