/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
  font-family: Helvetica;
}

.body-container {
    background-color: rgb(41, 163, 255);
}

#myModal {
  width: 30%;
  text-align: center;
}

.container {
  width: 85%;
  margin: 0 auto;
  background-color: white;
}

header {
  background-color: white;
  padding-top: 7%;
  text-align: center;
  top: 10%;
  width: 100%;
  z-index: 100;
}

header img {
  width: 70%;
}

header h1 {
  font-family: robofan free;
  font-size: 3.0em;
  color: white;
}

footer {
  margin-top: 20%;
  color: rgb(41, 163, 255);
  text-align: center;
}

footer p {
  color: black;
}

li {
  margin-right: 5%;
  margin-top: -20px;
  display: block;
}

a {
  text-decoration: none;
  font-size: 1.25em;
}

.placeholder {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.navbar {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border-top: 4px solid purple;
  border-bottom: 4px solid purple;
  background-color: white;
  color: gray;
  padding-top: 20px;
}

.home-navbar-links {
  line-height: 75px
}

.home-navbar-links a {
  color: #393939;
}

.home-navbar-links a:visited {
  color: #393939;
}

.home-navbar-links a:hover {
  color: rgb(41, 163, 255);
  text-shadow: 1px 1px black;
}

.introduction {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: justify;
  color: black;
}

.introduction h4 {
  color: purple;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.admin-title {
  font-family: Cochin;
}

button {
  background-color: rgb(41, 163, 255);
}

button:hover {
  background-color: rgb(247, 121,14)
}


/* TABLET & LARGER */
@media (min-width: 767px) {

  header img {
    width: 45%;
  }

  li {
    margin-right: 4%;
    display: inline-block;
    margin-bottom: 10px;
  }

  .navbar {
    width: 95%;
  }

}

/* PHONE <-> TABLET */

@media (min-width: 480px) {

  .introduction {
    width: 70%;
  }

  .home-navbar-links {
    margin: 0 auto;
    line-height: 75px
  }

}