/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.admin-container {
  background-color: #3A3A3B;
}

.admin-container h1 {
  color: white;
}

.admin-placehold {
  height: 400px;
  border-style: solid;
  border-color: Black;
  border-radius: 5px;
  background-color: #CFCFCF;
  padding-left: 20px;
  padding-top: 30px;
}

.admin-placehold li{
  list-style: none;
}

.admin-placehold2 {
  height: 400px;
  border-style: solid;
  border-color: Black;
  border-radius: 5px;
  background-color: #CFCFCF;
}

.admin-search {
  height: 40%;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

footer p {
  color: white;
}

.report {
  height: 100%;
  background-color: White;
  overflow: scroll;
  padding-left: 30px;
}

.report div {
  width: 60%;
  border-style: solid;
  border-color: #8fb2b2;
  background-color: #cfe1e1;
  border-radius: 5px;
  padding-left: 5%;
}

.report div li {
  list-style: none;
}

.user-login {
  width: 50%;
  height: 85%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  border-style: solid;
  border-color: 5px Navy;
  border-radius: 5px;
  background-color: #85C2FF;
  padding-top: 3%;
}

.user-login form {
  width: 35%;
  margin: 0 auto;
}

.video {
position: fixed; right: 0; bottom: 0;
min-width: 110%; min-height: 110%;
width: auto; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover;
}

