/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
  background: url(http://oi58.tinypic.com/21l79zd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }

 header {
  background-color: rgba(57, 57, 57, .8);
  position: fixed;
  top: 0%;
  width: 100%;
  border-bottom: 1px solid black;
  padding-left: 10%;
 }

 header h1 {
  font-family: robofan free;
  font-size: 3.0em;
  color: white;
 }

.admin-container {
  background-color: #3A3A3B;
}

.admin-container h1 {
  color: white;
}

.admin-placehold {
  height: 400px;
  border-style: solid;
  border-color: Black;
  border-radius: 5px;
  background-color: #CFCFCF;
  padding-left: 20px;
  padding-top: 30px;
}

.admin-placehold li{
  list-style: none;
}

.admin-placehold2 {
  height: 400px;
  border-style: solid;
  border-color: Black;
  border-radius: 5px;
  background-color: #CFCFCF;
}

.admin-search {
  height: 40%;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

footer p {
  color: white;
}

.login-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 20%;
  font-family: Garamond;
}

.login-boxes h3 {
  font-family: Garamond;
}

.report {
  height: 100%;
  background-color: White;
  overflow: scroll;
  padding-left: 30px;
}

.report div {
  width: 60%;
  border-style: solid;
  border-color: #8fb2b2;
  background-color: #cfe1e1;
  border-radius: 5px;
  padding-left: 5%;
  margin-left: 10%
}

.report div li {
  list-style: none;

}

.user-login {
  width: 300px;
  text-align: center;
  border: 1px solid black;
  margin-left: 5%;
  border-radius: 5px;
  background-color: white;
  opacity: .9;
}

.user-login form {
  width: 50%;
  height: 65%;
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
  font-size: .1em;
  color: white;
}

.student-parent-login {
  width: 300px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  opacity: .9;
}

.user-login h1{
  color: white;
}

.student-parent-login form {
  width: 50%;
  margin: 0 auto;
  font-size: .1em;
  color: white;
}

.button {
  background-color: #0066CC;
  border: 1px solid black;
  color: white;
}

.selected_tag {
  background-color: #9d66ef;
  border-radius: 5px;
}


#button-close {
  margin-top: 15px;
}

.event_index {
  background-color: rgba(200,200,200,0.5);
  margin: 50px 50px;
  padding: 15px;
}

.right_align {
  float: right;
}

.linker {

}

