.student-parent-login {
  width: 50%;
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: white;
}

.about-shielded h1{
  color: white;
}

.student-parent-login form {
  width: 100%;
  margin: 0 auto;
  font-size: .1em;
  color: white;
}

.button {
  background-color: rgb(41, 163, 255);
  border: 1px solid black;
  color: black;
}
/*
 body {
  background: url(http://oi58.tinypic.com/21l79zd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }*/



 .error {
  color: red;
 }
