.student-parent-login {
  width: 50%;
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: white;
}

.about-shielded h1{
  color: white;
}

.student-parent-login form {
  width: 90%;
  margin: 0 auto;
  font-size: .1em;
  color: white;
}

.dashboard-title {
  color: rgb(41, 163, 255);;
}

.login-button {
  background-color: rgb(41, 163, 255);
  border: 1px solid black;
  color: black;
}

#username {
  border: 1px solid black;
}

#password_digest {
  border: 1px solid black;
}

.error {
  color: red;
}

/* PHONE & LARGER */

@media (min-width: 480px) {

  .student-parent-login {
    width: 90%;
  }

}
