.navbar {
  width: 80%;
  text-align: center;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-top: 2px solid rgb(41, 163, 255);
  border-bottom: 2px solid rgb(41, 163, 255);
  background-color: white;
  opacity: .9;
  padding-top: 2%;
  color: gray;
}

.login-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 20%;
  font-family: Garamond;
}

.login-boxes h3 {
  font-family: Garamond;
}
/*.user-login form {
  width: 50%;
  margin: 0 auto;
  font-size: .1em;
  color: white;
}*/

.student-parent-login {
  width: 50%;
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: white;
}

.about-shielded h1{
  color: white;
}

.student-parent-login form {
  width: 50%;
  margin: 0 auto;
  font-size: .1em;
  color: white;
}

.button {
  background-color: rgb(41, 163, 255);
  border: 1px solid black;
  color: black;
}
/*
 body {
  background: url(http://oi58.tinypic.com/21l79zd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }*/

 .home-navbar-links a:visited {
  color: #393939;
 }

  .home-navbar-links a {
  color: #393939;
 }

 .error {
  color: red;
 }
