.new_event_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5%;
  width: 60%;
  background-color: white;
  opacity: .9;
}

.new_event {
  margin: 0 auto;
  width: 60%;
}




